html { scroll-behavior: smooth }
body { position: relative; text-align: inherit; animation-fill-mode: both; display:block; zoom:1; margin:0; top:0; left: 0 }
body *:not(script):not(style):not(li){
	font-family: inherit;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	vertical-align: middle;
	display: inline-block;
}
script,style { display: none !important; }
input, select, textarea, button { font-size: 1em; }
.view 			{ width:100vw;height:  100vh; top: 0; left: 0; padding: 0; overflow: hidden; margin: 0 }
.fixed         { position: fixed !important; }
.absolute,.abs{ position: absolute !important; }

.container 	{ display: tablerow; width: 100%; }
.cell      	{ display: tablecell; }

.wd-full, .row{ width: 	 100%; }
.wd-full-min   { min-width: 100%; }
.wd-full-max   { max-width: 100%; }
.wd-3quart 	{ width: 	  75%; }
.wd-3quart-min { min-width:  75%; }
.wd-3quart-max { max-width:  75%; }
.wd-2third 	{ width: 	  66.66%; }
.wd-2third-min { min-width:  66.66%; }
.wd-2third-max { max-width:  66.66%; }
.wd-half 		{ width: 	  50%; }
.wd-half-min   { min-width:  50%; }
.wd-half-max   { max-width:  50%; }
.wd-third 		{ width: 	  33.33%; }
.wd-third-min  { min-width:  33.33%; }
.wd-third-max  { max-width:  33.33%; }
.wd-quart 		{ width: 	  25%; }
.wd-quart-min  { min-width:  25%; }
.wd-quart-max  { max-width:  25%; }
.wd-12 { width: 100%; }
.wd-11 { width: calc(100% / 12 * 11); }
.wd-10 { width: calc(100% / 12 * 10); }
.wd-9  { width: calc(100% / 12 * 9); }
.wd-8  { width: calc(100% / 12 * 8); }
.wd-7  { width: calc(100% / 12 * 7); }
.wd-6  { width: calc(100% / 12 * 6); }
.wd-5  { width: calc(100% / 12 * 5); }
.wd-4  { width: calc(100% / 12 * 4); }
.wd-3  { width: calc(100% / 12 * 3); }
.wd-2  { width: calc(100% / 12 * 2); }
.wd-1  { width: calc(100% / 12 * 1); }
.col-1 		{ flex: 1 1 0; flex-grow: 1 !important; }
.col-2 		{ flex: 1 1 0; flex-grow: 2 !important; }
.col-3 		{ flex: 1 1 0; flex-grow: 3 !important; }
.col-4 		{ flex: 1 1 0; flex-grow: 4 !important; }
.col-5 		{ flex: 1 1 0; flex-grow: 5 !important; }
.col-6 		{ flex: 1 1 0; flex-grow: 6 !important; }
.col-7 		{ flex: 1 1 0; flex-grow: 7 !important; }
.col-8 		{ flex: 1 1 0; flex-grow: 8 !important; }
.col-9 		{ flex: 1 1 0; flex-grow: 9 !important; }
.col-10 	{ flex: 1 1 0; flex-grow: 10 !important; }
.col-11		{ flex: 1 1 0; flex-grow: 11 !important; }
.col-12 	{ flex: 1 1 0; flex-grow: 12 !important; }
.ht-full-min   { min-height:100%; }
.ht-full-max   { max-height:100%; }
.ht-3quart 	{ height: 	  75%; }
.ht-3quart-min { min-height: 75%; }
.ht-3quart-max { max-height: 75%; }
.ht-2third 	{ height: 	  66.66%; }
.ht-2third-min { min-height: 66.66%; }
.ht-2third-max { max-height: 66.66%; }
.ht-half 		{ height: 	  50%; }
.ht-half-min   { min-height: 50%; }
.ht-half-max   { max-height: 50%; }
.ht-third 		{ height: 	  33.33%; }
.ht-third-min  { min-height: 33.33%; }
.ht-third-max  { max-height: 33.33%; }
.ht-quart 		{ height: 	  25%; }
.ht-quart-min  { min-height: 25%; }
.ht-quart-max  { max-height: 25%; }

@media only screen and (max-width: 1920px) {
	/* body { font-size: 14px;  } */
}

@media only screen and (max-width: 1366px) {
	.wd-2third    , .wd-3quart    , .wd-half:not(.-keep) 	{ width: 	  100%; }
	.wd-2third-min, .wd-3quart-min, .wd-half-min { min-width:  100%; }
	.wd-2third-max, .wd-3quart-max, .wd-half-max { max-width:  100%; }
	.wd-third, 	 .wd-quart 		{ width: 	  80%; padding:10%; }
	.wd-third-min,  .wd-quart-min 	{ min-width:  80%; padding:10%; }
	.wd-third-max,  .wd-quart-max  	{ max-width:  80%; padding:10%; }
	.bar,.ht-full, .ht-full-min,   .ht-full-max,
	.ht-2third,     .ht-3quart 	, .ht-half,
	.ht-2third-min, .ht-3quart-min, .ht-half-min,
	.ht-2third-max, .ht-3quart-max, .ht-half-max,
	.ht-third, 	 .ht-quart,
	.ht-third-min,  .ht-quart-min,
	.ht-third-max,  .ht-quart-max { height: auto; }
	.mobhide { display: none; }
	/* body { font-size: 12px  } */
}

.relative      { position: relative }
.block         { display: block; }
.flex          {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-self:stretch;
	align-items:stretch;
	align-content: stretch;
	text-align: center;
}
.flex > * 		{ align-items: stretch;  }
.inline        { display: inline-block; }
.hide          { display: none; opacity: 0; }
.show         { display: inline-block; opacity: 1; }
.animated      { transition: all 1s ease 0s }
.left          { float: left; }
.right         { float: right; }
.centered      {position: absolute; top:50%;left: 50%;transform:translate(-50%, -50%);}
.content-center{ text-align: center !important; }
.content-left  { text-align: left !important; }
.content-right { text-align: right !important; }
.rtl 			{ direction: rtl; }
.ltr 			{ direction: ltr; }
.justify 		{ text-align: justify; }
.box, .tile   { cursor: pointer; display:block; margin:  auto; }
.box 			{ border-radius: .25em; box-shadow: 0 0 .25em rgba(0,0,0,.16); }
/* SIZENING */
blur, modal
, .wrap 	{ width:100%; height:100%; top: 0; left: 0; padding: 0; overflow-y:auto }
.wrap 		{ position:relative }
.wrap
, .bar
, .ht-full 	{ height: 100%;}
.wide       { background-position: center center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
blur 			{ position: absolute !important; backdrop-filter: blur(12px) !important; transform-origin: center center; }
.blur 			{ backdrop-filter: blur(12px) !important; }

/* BEHAVIORS */
.scrolls       {  overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch; }
.no-scrolls    { overflow: hidden }
.line	{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pointer-and-spin
, .pointer 	{
	pointer-events: none !important;
	transition: all .4s ease;
	cursor: pointer;
	opacity: .8;
	touch-action: none;
	/*-webkit-tap-highlight-color: transparent;*/
}
.only-pointer
,.link  		{
	transition: all .4s ease;
	cursor: pointer;
	pointer-events: all !important;
	touch-action: none;
	/*-webkit-tap-highlight-color: transparent;*/
}
.link:hover 	{ text-decoration: underline;  }
.disabled 		{
	filter: grayscale(1) opacity(.3);
	cursor:not-allowed;
}
.pointer:hover { opacity: 1;pointer-events: all !important }
.pointer-and-spin:hover { transform:  scale(1.2); opacity: .8; transform: rotate(180deg);pointer-events: all !important }
.cursor,
.pointer 		{ cursor:  pointer;pointer-events: all !important }
.avoid-cursor, .tile * { pointer-events: none !important }
.ft-light 		{ font-weight: lighter }
.ft-regular 		{ font-weight: normal; }
.ft-bold 			{ font-weight: bolder }
.invert 		{ filter:invert(1) }
.flip 			{ transform: scaleX(-1); }
.diff { mix-blend-mode: difference; }
bold,i { display: inline !important; transform:translateY(-125em) !important}
/* SPECIALS */
.zero-top-left,.zero-bottom-right,.zero-bottom-left,.zero-top-right, .zero, .zero-top, .zero-bottom, .z, .ztl, .ztr, .zbl, .zbr, .zt, .zb { margin: 0; }
.zero-top-left, .zero-top-right, .zero, .zero-top, .z, .zt, .ztl, .ztr { top: 0; }
.zero-bottom-right,.zero-bottom-left,.zero-bottom, .zb, .zbl, .zbr { bottom: 0; }
.zero-top, .zero-bottom, .zero-top-left,.zero-bottom-left, .z, .zero, .ztl, .zbl, .zb { left:0; }
.zero-bottom-right,.zero-top-right, .ztr, .zbr { right:0; }
.centralized 	{ top:50%; left:50%; transform:translate(-50%, -50%); }

.circle 		{ border-radius: 50%; min-height: .25em; min-width: .25em }
input, textarea, select, button { color:inherit }
.input:not([type='button']), select, textarea { font-family:inherit;transition:all .4s;background: transparent; border: none; border-bottom: 2px solid lightgray; padding:.5rem; outline:none;font-size:1em}
.input:not([type='button'])::placeholder { opacity: .6; }
.input:not([type='button']):not(:placeholdershow) { border-bottom: 2px solid attr(data-color) }
input, select, textarea { outline:none }
/* BOTOES */
.btn{ padding: .5rem 1rem; border-radius: 4px; border: none; opacity: .8; transition: all .2s; cursor: pointer;}
.btn:hover 		{ opacity: 1; box-shadow: 0 5px 10px rgba(0, 0, 0, .1)}

/* LININGS */
.ellipsis 		{ overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap }
.clamp, .line{ display: -webkitbox; -webkit-lineclamp: 4; -webkitbox-orient: vertical;  text-overflow: ellipsis;  }
.line 	{ -webkit-lineclamp: 1;  }
.lineclamp {
	/* list-style-position: inside; */
	text-overflow: ellipsis;
	display: -webkitbox;
	-webkit-lineclamp: 5;
	-webkitbox-orient: vertical;
	overflow: hidden;
}

/* ANIMATING */
.spin{
	animation: spin-kf 1s linear infinite;
}
@keyframes spin-kf {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
.pulse {
	animation: pulse-kf 6s ease-in-out infinite;
}
@keyframes pulse-kf {
	0% { transform: scale(1) }
	50% { transform: scale(1.1) }
	100% { transform: scale(1) }
}
.fade {
	animation: fade-kf 2s ease-in-out infinite;
}
@keyframes fade-kf {
	0% { transform: scale(1); opacity: 1 }
	50% { transform: scale(.9); opacity: .62 }
	100% { transform: scale(1); opacity: 1 }
}
.jumping-icon {
	animation: jumping-icon-kf 2s ease-in-out infinite;
}
@keyframes jumping-icon-kf {
	0% { transform: translateY(0) }
	50% { transform: translateY(50%) }
	100% { transform: translateY(0) }
}
.loading-outerbar {
	min-height: .25em;
	min-width: 600px;
	border-radius:.25em;
	overflow:hidden;
	text-align: left;;
}
.loading-innerbar {
	width:100%;
	height:.25em;
	animation: loading-innerbar-kf 4s ease-in-out infinite;
}
@keyframes loading-innerbar-kf {
	0% { transform: translateX(-100%) }
	50% { transform: translateX(25%) }
	100% { transform: translateX(100%) }
}
a 			{ text-decoration: none }
.no-select { user-select: none; -webkit-user-select:none; }
.debug-box { border: 2px dashed red }

table, th, td, tr { all: unset; }

fselect, fmultiselect {
	opacity:0;
}